* {
    background-color:burlywood;
    text-align: center;
    border-left: thick solid brown;
    border-left: thick;
}

ul {
    text-decoration: underline;
    list-style-position: inside;
    margin: -3 auto;
}

p {
text-decoration-color: aqua;   
}

.p {
    border-style: solid;
    border-color: brown;
    border-width: medium;
}

#mainlist {
    text-decoration-style: double;
}