* {
    background-color:burlywood;
    text-align: center;
    border-left: thick;
    border-left: thick;
}

ul {
    text-decoration: underline;
    list-style-position: inside;
    margin: 0 auto;
}

p {
text-decoration-color: aqua;   
}

.border {
    border-style: solid;
    border-color: brown;
    border-width: medium;
}